<!-- Additional Content Entity -->
<h3>Additional Content</h3>

<!-- Content Name -->
<div class="form-group">
    <div class="col-xs-12">
        <label class="control-label col-xs-3 col-sm-2" for="contentName">Content Name:</label>
        <div class="col-xs-7 col-sm-8">
            <input ng-model='gameData.contentName' type="title" class="form-control" id="contentName" placeholder="Enter Content Name">
        </div>
        <div class="col-xs-2">
            <a href='#' data-toggle="popover" data-trigger="focus" title="Content Name" data-content="Record the name of any additional content available for the video game,
                    as indicated by the CSI. If no additional content is available, specify
                    N/A."><span class="glyphicons glyphicons-plus">+</span></a>
        </div>
    </div>
</div>

<!-- Content Type -->
<div class="form-group">\  
    <div class="col-xs-12">
        <label class="control-label col-xs-3 col-sm-2" for="contentType">Content Type:</label>
        <div class="col-xs-7 col-sm-8">
            <input ng-model='gameData.contentType' type="title" class="form-control" id="contentType" placeholder="Enter Content Type">
        </div>
        <div class="col-xs-2">
            <a href='#' data-toggle="popover" data-trigger="focus" title="Content Type" data-content="Record the type of any additional content available for the video game,
                    as indicated by the CSI (e.g., DLC, mod, patch). If no additional content
                    is available, specify N/A."><span class="glyphicons glyphicons-plus">+</span></a>
        </div>
    </div>
</div>

<!-- Version Requirement -->
<div class="form-group">
    <div class="col-xs-12">
        <label class="control-label col-xs-3 col-sm-2" for="versionRequirement">Version Requirement:</label>
        <div class="col-xs-7 col-sm-8">
            <input ng-model='gameData.versionReq' type="title" class="form-control" id="versionRequirement" placeholder="Enter Version Requirement">
        </div>
        <div class="col-xs-2">
            <a href='#' data-toggle="popover" data-trigger="focus" title="Version Requirement" data-content="Record any special version requirements unique to playing the video
                    game with the additional content. "><span class="glyphicons glyphicons-plus">+</span></a>
        </div>
    </div>
</div>

<!-- Additional Content Note -->
<div class="form-group">
    <div class="col-xs-12">
        <label class="control-label col-xs-3 col-sm-2" for="additionalContentNote">Additional Content Note:</label>
        <div class="col-xs-7 col-sm-8">
            <input ng-model='gameData.contentNote' type="title" class="form-control" id="additionalContentNote" placeholder="Enter Additional Content Note">
        </div>
        <div class="col-xs-2">
            <a href='#' data-toggle="popover" data-trigger="focus" title="Additional Content Note" data-content="Record any notable or unique characteristics relating to the additional
                    content of the video game, not captured in other fields."><span class="glyphicons glyphicons-plus">+</span></a>
        </div>
    </div>
</div>

<div class="form-navigation form-group">
    <a ui-sref='game.series' type="button" class="previous btn btn-info pull-left hvr-sweep-to-left">&lt; Previous</a>
    <a ui-sref='game.agent' type="button" class="next btn btn-info pull-right hvr-sweep-to-right">Next &gt;</a>
</div>