<!--

Game Title [M]
Gameplay genre [M][R]
Platform [M][R]
Number of Players [M][R]
Region code [M][R]
Format [M]
Retail release date [M][R]
Corporate body [M][R]

Narrative genre [R]
Summary
Theme [R]
Setting [R]
Mood [R]
Pacing [R]
Progression
Tropes [R]
Packshot
Game Note
Edition information
System requirements [R]
Special Hardware [R]
Networked features [R]
Connectivity [R]
Type of ending
Estimated time of completion
Visual Style [R]
Dimension
Point of View
Trailers [R]
Edition note
Language [R]
Customization options
Rating [R]
Screenshots [R]
Gameplay videos [R]
Version information
Local release note
Distribution type
File type
File size
Representative art[R]
Packaging
DRM [R]
Price/MSRP [R]
Distrubution entity note
Franchise [R]
Franchise note
Series title [R]
Series note
Content name [R]
Content type [R]
Version requirement
Additional content note
Collection title
Collection note
Agent note
-->

<div>
	<div id='form-container'>
		<div class='page-header text-center'>
			<div id='status-buttons buttons' class='text-center'>
				<button ui-sref-active='active' ui-sref='.required' class="btn btn-xs">Required</button>
				<button ui-sref-active='active' ui-sref='.entity' class="btn btn-xs" ng-disabled='newGameForm.$invalid'>Game</button>
				<button ui-sref-active='active' ui-sref='.platform' class="btn btn-xs" ng-disabled='newGameForm.$invalid'>Platform</button>
				<button ui-sref-active='active' ui-sref='.franchise' class="btn btn-xs" ng-disabled='newGameForm.$invalid'>Franchise</button>
				<button ui-sref-active='active' ui-sref='.distribution' class="btn btn-xs" ng-disabled='newGameForm.$invalid'>Distribution Package</button>
				<button ui-sref-active='active' ui-sref='.release' class="btn btn-xs" ng-disabled='newGameForm.$invalid'>Local Release</button>
				<button ui-sref-active='active' ui-sref='.series' class="btn btn-xs" ng-disabled='newGameForm.$invalid'>Series</button>
				<button ui-sref-active='active' ui-sref='.content' class="btn btn-xs" ng-disabled='newGameForm.$invalid'>Content</button>
				<button ui-sref-active='active' ui-sref='.agent' class="btn btn-xs" ng-disabled='newGameForm.$invalid'>Agent</button>
			</div>
		</div>
		<form name='newGameForm' id='newGameForm' ng-submit='addGame()' novalidate>
			<div id='form-views' ui-view></div>
		</form>
	</div>

	<!--<div class="progress">-->
		<!--<div class="progress-bar progress-bar-success" role="progressbar" style="width:{{requiredPercentage}}%">-->
			<!--Required Fields-->
		<!--</div>-->
		<!--<div class="progress-bar progress-bar-info" role="progressbar" style="width:{{otherPercentage}}%">-->
			<!--The Rest-->
		<!--</div>-->
		<!--<div class="progress-bar progress-bar-danger" role="progressbar" style="width:{{remainingPercentage}}%">-->
			<!--Fields Remaining-->
		<!--</div>-->
	<!--</div>-->
</div>