<!-- Platform Edition Entity -->
<h3>Platform Information</h3>

<!-- Edition Information -->
<div class="form-group">
    <label class="control-label col-sm-2" for="editionInformation">Edition Information:</label>
    <div class="col-sm-8">
        <input ng-model='gameData.editionInfo' type="title" class="form-control" id="editionInformation" placeholder="Enter Edition Information">
    </div>
    <div class="col-sm-2">
        <a href='#' data-toggle="popover" data-trigger="focus" title="Edition Information" data-content="Transcribe the edition information as it appears on the CSI, if
                applicable. If there is no edition information, specify N/A."><span class="glyphicons glyphicons-plus">+</span></a>
    </div>
</div>

<!-- System Requirements -->
<div class="form-group">
    <label class="control-label col-sm-2" for="systemReq">System Requirements:</label>
    <div class="col-sm-8">
        <input ng-model='gameData.systemReq' type="title" class="form-control" id="systemReq" placeholder="Enter System Requirements">
    </div>
    <div class="col-sm-2">
        <a href='#' data-toggle="popover" data-trigger="focus" title="System Requirements" data-content="Determine system requirements from CSI. If applicable, describe
                minimum and recommended requirements."><span class="glyphicons glyphicons-plus">+</span></a>
    </div>
</div>

<!-- Special Hardware -->
<div class="form-group">
    <label class="control-label col-sm-2" for="specialHardware">Special Hardware:</label>
    <div class="col-sm-8">
        <input ng-model='gameData.hardware' type="title" class="form-control" id="specialHardware" placeholder="Enter Special Hardware">
    </div>
    <div class="col-sm-2">
        <a href='#' data-toggle="popover" data-trigger="focus" title="Special Hardware" data-content="Transcribe the required and/or recommended special hardware as it
                appears in the CSI. In many cases, this information can be identified on
                the CSI as compatible hardware."><span class="glyphicons glyphicons-plus">+</span></a>
    </div>
</div>

<!-- Networked Features -->
<div class="form-group">
    <label class="control-label col-sm-2" for="networkedFeatures">Networked Features:</label>
    <div class="col-sm-8">
        <input ng-model='gameData.networkFeat' type="title" class="form-control" id="networkedFeatures" placeholder="Enter Networked Features">
    </div>
    <div class="col-sm-2">
        <a href='#' data-toggle="popover" data-trigger="focus" title="Networked Features" data-content="Transcribe the networked features as they appear on CSI. If the video
                game does not offer any networked features, record None. If the
                information cannot be determined with certainty, enter the value as
                unknown."><span class="glyphicons glyphicons-plus">+</span></a>
    </div>
</div>

<!-- Connectivity -->
<div class="form-group">
    <label class="control-label col-sm-2" for="connectivity">Connectivity:</label>
    <div class="col-sm-8">
        <input ng-model='gameData.connectMethod' type="title" class="form-control" id="connectivity" placeholder="Enter Method (Wired, wireless, or both)">
        <input ng-model='gameData.networkType' type="title" class="form-control" id="connectivity" placeholder="Enter Network type (user-to-user, server-based, hybrid)">
        <input ng-model='gameData.bandwidth' type="title" class="form-control" id="connectivity" placeholder="Enter Bandwith (required or recommended)">
    </div>
    <div class="col-sm-2">
        <a href='#' data-toggle="popover" data-trigger="focus" title="Connectivity" data-content="Where applicable, specify connectivity information for the following
                three attributes: method, network type, and bandwidth. Select terms
                from the options listed below."><span class="glyphicons glyphicons-plus">+</span></a>
    </div>
</div>

<!-- Type of Ending -->
<div class="form-group">
    <label class="control-label col-sm-2" for="typeOfEnding">Type of Ending:</label>
    <div class="col-sm-8">
        <input ng-model='gameData.endingYN' type="title" class="form-control" id="typeOfEnding" placeholder="Does it end?">
        <input ng-model='gameData.multEndings' type="title" class="form-control" id="typeOfEnding" placeholder="Does it have multiple endings?">
        <input ng-model='gameData.postGameContent' type="title" class="form-control" id="typeOfEnding" placeholder="Does it have post-game content">
    </div>
    <div class="col-sm-2">
        <a href='#' data-toggle="popover" data-trigger="focus" title="Type of Ending" data-content="Determine and specify the ending information from the CSI (Over 80
                possible endings, New Game+ feature, etc.).
                Record values for the following three attributes: does it end? (Y/N);
                does it have multiple endings? (Y/N); is there any post-game content or
                options? (Y/N)"><span class="glyphicons glyphicons-plus">+</span></a>
    </div>
</div>

<!-- Estimated Time of Completion -->
<div class="form-group">
    <label class="control-label col-sm-2" for="estimatedTimeOfCompletion">Estimated Time of Completion:</label>
    <div class="col-sm-8">
        <input ng-model='gameData.estimatedTime' type="title" class="form-control" id="estimatedTimeOfCompletion" placeholder="Enter Estimated Time of Completion">
    </div>
    <div class="col-sm-2">
        <a href='#' data-toggle="popover" data-trigger="focus" title="Estimated Time of Completion" data-content="Determine the information from the CSI. GameFaqs.com and/or
                howlongtobeat.com may be particularly useful for sourcing this
                information.
                Use the attribute main to record the estimated amount of time
                needed to complete the main gameplay. Use the attribute complete to
                record the estimated amount of time for completing the main gameplay
                and peripheral content.
                If the video game does not end, record N/A. If the information
                cannot be determined, record unknown. Record the time following
                the ISO 8601 Standard6
                (i.e., 02:30:00)."><span class="glyphicons glyphicons-plus">+</span></a>
    </div>
</div>

<!-- Visual Style -->
<div class="form-group">
    <label class="control-label col-sm-2" for="visualStyle">Visual Style:</label>
    <div class="col-sm-8">
        <input ng-model='gameData.visualStyle' type="title" class="form-control" id="visualStyle" placeholder="Enter Visual Style">
    </div>
    <div class="col-sm-2">
        <a href='#' data-toggle="popover" data-trigger="focus" title="Visual Style" data-content="Determine the visual style from the CSI, and select the most
                appropriate term(s) from the controlled vocabulary. When multiple
                styles are used, only record the predominent style(s). Select up to three
                terms. If unknown, record unknown."><span class="glyphicons glyphicons-plus">+</span></a>
    </div>
</div>

<!-- Dimension -->
<div class="form-group">
    <label class="control-label col-sm-2" for="dimension">Dimension:</label>
    <div class="col-sm-8">
        <select ng-model='gameData.dimension' class="form-control" id="dimension">
            <option></option>
            <option>2D</option>
            <option>3D</option>
            <option>Stereoscopic 3D</option>
            <option>Multiple</option>
            <option>Unknown</option>
        </select>
    </div>
    <div class="col-sm-2">
        <a href='#' data-toggle="popover" data-trigger="focus" title="Dimension" data-content="Determine how depth is intended to be percieved in the video game and
                select the most appropriate term from the following list: 2D; 3D;
                Stereoscopic 3D; multiple; unknown."><span class="glyphicons glyphicons-plus">+</span></a>
    </div>
</div>

<!-- Point of view -->
<div class="form-group">
    <label class="control-label col-sm-2" for="pointOfView">Point of View:</label>
    <div class="col-sm-8">
        <select ng-model='gameData.pov' class="form-control" id="pointOfView">
            <option></option>
            <option>First Person</option>
            <option>Third Person</option>
            <option>Overhead</option>
            <option>Multiple</option>
            <option>Other</option>
        </select>
    </div>
    <div class="col-sm-2">
        <a href='#' data-toggle="popover" data-trigger="focus" title="Point of View" data-content="Determine the perspective from which the player experiences the video
                game. Record the appropriate term from the following list: first person;
                third person; overhead; multiple; other."><span class="glyphicons glyphicons-plus">+</span></a>
    </div>
</div>

<!-- Trailers -->
<div class="form-group">
    <label class="control-label col-sm-2" for="trailers">Trailers:</label>
    <div class="col-sm-8">
        <input ng-models='gameData.trailers' type="title" class="form-control" id="trailers" placeholder="Enter Trailers">
    </div>
    <div class="col-sm-2">
        <a href='#' data-toggle="popover" data-trigger="focus" title="Trailers" data-content="Transcribe the URLs to trailers as found on the CSI. Include the
                retrieved date information. If possible, provide links to official trailers
                on YouTube channels, etc. This element provides only trailers, not
                actual, in-game play video information.
                If available, record the video, if licensed to use by your organization.
                Create and preserve the videos according to your organization's
                standards. Upload or indicate the location of the video(s) according to
                your organization's system design."><span class="glyphicons glyphicons-plus">+</span></a>
    </div>
</div>

<!-- Edition Note -->
<div class="form-group">
    <label class="control-label col-sm-2" for="editionNote">Edition Note:</label>
    <div class="col-sm-8">
        <input ng-model='gameData.editionNote' type="title" class="form-control" id="editionNote" placeholder="Enter Edition Note">
    </div>
    <div class="col-sm-2">
        <a href='#' data-toggle="popover" data-trigger="focus" title="Edition Note" data-content="Record notable or unique characteristics of the video game edition, not
                captured in other fields."><span class="glyphicons glyphicons-plus">+</span></a>
    </div>
</div>

<div class="form-navigation form-group">
    <a ui-sref='game.entity' type="button" class="previous btn btn-info pull-left hvr-sweep-to-left">&lt; Previous</a>
    <a ui-sref='game.franchise' type="button" class="next btn btn-info pull-right hvr-sweep-to-right">Next &gt;</a>
</div>