<!-- Franchise Entity -->
<h3>Franchise Information</h3>

<!-- Franchise -->
<div class="form-group">
    <div class="col-xs-12">
        <label class="control-label col-xs-3 col-sm-2" for="franchise">Franchise:</label>
        <div class="col-xs-7 col-sm-8">
            <input ng-model='gameData.franchise' type="title" class="form-control" id="franchise" placeholder="Enter Franchise">
        </div>
        <div class="col-xs-2">
            <a href='#' data-toggle="popover" data-trigger="focus" title="Franchise" data-content="Determine and record the franchise information by consulting the
                    stipulated secondary sources of information. If the video game does not
                    belong to a franchise, specify N/A."><span class="glyphicons glyphicons-plus">+</span></a>
        </div>
    </div>
</div>

<!-- Franchise Note -->
<div class="form-group">
    <div class="col-xs-12">
        <label class="control-label col-xs-3 col-sm-2" for="franchiseNote">Franchise Note:</label>
        <div class="col-xs-7 col-sm-8">
            <input ng-model='gameData.franchiseNote' type="title" class="form-control" id="franchiseNote" placeholder="Enter Franchise Note">
        </div>
        <div class="col-xs-2">
            <a href='#' data-toggle="popover" data-trigger="focus" title="Franchise Note" data-content="Record notable or unique characteristics of the franchise of the video
                    game, not captured in other fields."><span class="glyphicons glyphicons-plus">+</span></a>
        </div>
    </div>
</div>

<div class="form-navigation form-group">
    <a ui-sref='game.platform' type="button" class="previous btn btn-info pull-left hvr-sweep-to-left">&lt; Previous</a>
    <a ui-sref='game.distribution' type="button" class="next btn btn-info pull-right hvr-sweep-to-right">Next &gt;</a>
</div>