<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://code.jquery.com/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>	
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script> 

	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script> 
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>  

	<script src="main.js"></script>
	<link href="/../main.css" type="text/css" rel="stylesheet"/>  
</head>

<body ng-app="myApp" ng-controller="myCtrl">
	<div class="container">
		<div class="row" id="profile-info">
			<div class="col-md-12">
				<h1>John Smith</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
		<div class="row" id="added-games">
			<div class="col-md-12">
				  <!-- Table -->
				  <table class="table">
				    <tr>
				    	<th>#</th>
				    	<th>Name of Game</th>
				    	<th>Date added</th>
				    </tr>
				    <tr>
					    <td>1</td>
					    <td>game</td>		
					   	<td>time</td>
					</tr>
					<tr>
					    <td>2</td>
					    <td>game</td>		
					   	<td>time</td>
					</tr>
				  </table>
			</div>
		</div>
	</div>
</body>
</html>