<div class="container" ng-app="myApp" ng-controller="myCtrl">
	<div class="row" id="profile-info">
		<div class="col-md-12">
			<h1 ng-show='!users[userId]'>Welcome User</h1>			
			<div ng-show='users[userId]'>
				<h1>{{users[userId].firstname}} {{users[userId].lastname}}</h1>
				<h2>{{users[userId].institution}}</h2>
				<p>Profile updated on: {{users[userId].dateupdated}}</p>
			</div>
		</div>
		<button ng-click='openModalButton()' type='button' class='btn btn-warning' data-toggle='modal' data-target='#changeUserInfo'>Update Profile</button>
	</div>
	<div class="row" id="added-games">
		<div class="col-md-12">
			  <!-- Table -->
			  <table class="table">
			    <tr>
			    	<th>#</th>
			    	<th>Name of Game</th>
			    	<th>Date added</th>
					<th>View</th>
					<th>Edit</th>
			    </tr>
			    <tr>
				    <td>1</td>
				    <td>game</td>		
				   	<td>time</td>
					<td>view</td>
					<td>edit</td>
				</tr>
				<tr>
				    <td>2</td>
				    <td>game</td>		
				   	<td>time</td>
					<td>view</td>
					<td>edit</td>
				</tr>
			  </table>
		</div>
	</div>
</div>

<div id='changeUserInfo' class='modal fade' role='dialog'>
	<div class='modal-dialog'>

		<div class='modal-content'>
			<div class='modal-header'>
				<button ng-click='closeModal()' type='button' class='btn btn-warning' id='modalCloseButton'>X</button>
				<h2>Profile Information</h2>
			</div>
			<div class='modal-body'>
				<form>
					<div class='form-group'>
						<label for='firstname'>First Name:</label>
						<input ng-model='firstname' class='form-control' type='text' name='firstname' id='firstname' />
					</div>
					<div class='form-group'>
						<label for='lastname'>Last Name:</label>
						<input ng-model='lastname' class='form-control' type='text' name='lastname' id='lastname' />
					</div>
					<div class='form-group'>
						<label for='institution'>Institution:</label>
						<input ng-model='institution' class='form-control' type='text' name='institution' id='institution' />
					</div>
					<button ng-click='updateProfile()' type='submit' class='btn btn-warning'>Change/Update Profile</button>
				</form>
			</div>
		</div>

	</div>
</div>